/* 
html{
    font-size:7px;
}

#floats-demo{
    font-size: 20px;
}

p{
    font-family: sans-serif;
    text-align:left;
    background-color: DarkTurquoise;
    line-height: 2.5;
    padding:1em

} */