h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p{
  color:blue;
}

section p span{
  color:blue
}

div .more-content{
  background-color: red;
}








